@model PokemonApp.Models.Pokemon
@{
    ViewData["Title"] = Model.Name;
}

<h2>@Model.Name</h2>

<h3>Moves</h3>
<ul>
    @foreach (var move in Model.Moves)
    {
        <li>@move</li>
    }
</ul>

<h3>Abilities</h3>
<ul>
    @foreach (var ability in Model.Abilities)
    {
        <li>@ability</li>
    }
</ul>

<a href="@Url.Action("Index")">Back to list</a>
